<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link href="{% static 'css/create_vote.css' %}" rel="stylesheet">  
	<link rel="shortcut icon" href="footer-logo.png" type="image/x-icon">
    <title>VoteLytics</title>
</head>

<body>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{form}}
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
			<div class="nav-title">
				<input class="brandtitle" type="text" id="brandtitle" name="brandtitle" placeholder="Brand Name" required></b>
			</div>
			</div>
			<div class="nav-btn">
			<label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			</label>
			</div>
			
			<div class="nav-links">
			<a href="#" > *****</a>
			<a href="#" > *****</a>
			<a href="#" > *****</a>
			<a href="#" > *****</a>
			</div>
		</div>

		<div class="page1" id="page1">
			
			<div class="page1-left">
				<div class="page1-left-heading">
					<h2>Vote your</h2>
					<h1><span class="highlight">FAVORITE </span></h1>
					<h2><input class="name" type="text" id="name" name="name" placeholder="Name" required></h2>
				</div>
			<p>
				<textarea class="discription" name="discription" id="discription" placeholder="Short Discription (Not more then 40 words)" rows="6"></textarea><br><br>
			</p>
			</div>
			<div class="page1-right">
				<div class="big-boss-logo-img" >
					<i class="fa-solid fa-layer-group"></i>
					<label for="logoimg" class="custom-logoimg-btn">
						<i class="fa-solid fa-upload"></i>   Upload Image
					</label>
					<input type="file" name="photo" accept="image/*" required="" id="logoimg" class="logoimg" >
				</div>
				
				<!-- #007F86 -->

			</div>
		</div>
		<div class="page2" id="page2">
			<main>
				<div class="vote-heading">
					<h3>Voting Title</h3>
					<div class="votetitle-input">
						<input class="votetitle" type="text" id="votetitle" name="votetitle" placeholder="Eg: Vote for Your Favorite Candidate" required>
					</div>
				<!-- <h3>Vote for Your Favorite Candidate</h3> -->
				</div>
					<div class="card-container">
						<div class="card-container1">
							<div class="card">
								<div class="card-image">
									<input type="file" name="candidate1" accept="image/*" required="" id="id_photo" class="input-img" >
									<ion-icon name="image-outline"></ion-icon>
								</div>
								<div class="card-content">
									<label for="candidate1"><i class="fa-solid fa-user"></i><input type="text" id="name" name="name_candidate1" placeholder= 'Candidate Name' required></label>
								</div>
							</div>
							<div class="card">
								<div class="card-image">
									<input type="file" name="candidate2" accept="image/*" required="" id="id_photo" class="input-img" >
									<ion-icon name="image-outline"></ion-icon>
								</div>
								<div class="card-content">
									<label for="candidate2"><i class="fa-solid fa-user"></i><input type="text" id="name" name="name_candidate2" placeholder= 'Candidate Name' required></label>
								</div>
							</div>
							<div class="card">
								<div class="card-image">
									<input type="file" name="candidate3" accept="image/*" required="" id="id_photo" class="input-img" >
									<ion-icon name="image-outline"></ion-icon>
								</div>
								<div class="card-content">
									<label for="candidate3"><i class="fa-solid fa-user"></i><input type="text" id="name" name="name_candidate3" placeholder= 'Candidate Name' required></label>
								</div>
							</div>
						</div>

						<div class="card-container2">
							<div class="card">
								<div class="card-image">
									<input type="file" name="candidate4" accept="image/*" required="" id="id_photo" class="input-img" >
									<ion-icon name="image-outline"></ion-icon>
								</div>
								<div class="card-content">
									<label for="candidate4"><i class="fa-solid fa-user"></i><input type="text" id="name" name="name_candidate4" placeholder= 'Candidate Name' required></label>
								</div>
							</div>
							<div class="card">
								<div class="card-image">
									<input type="file" name="candidate5" accept="image/*" required="" id="id_photo" class="input-img" >
									<ion-icon name="image-outline"></ion-icon>
								</div>
								<div class="card-content">
									<label for="candidate5"><i class="fa-solid fa-user"></i><input type="text" id="name" name="name_candidate5" placeholder= 'Candidate Name' required></label>
								</div>
							</div>
							<div class="card">
								<div class="card-image">
									<input type="file" name="candidate6" accept="image/*" required="" id="id_photo" class="input-img" >
									<ion-icon name="image-outline"></ion-icon>
								</div>
								<div class="card-content">
									<label for="candidate6" ><i class="fa-solid fa-user"></i><input type="text" id="name" name="name_candidate6" placeholder= 'Candidate Name'  required></label>
								</div>
							</div>
						</div>
					</div>
			</main>
		</div>
		<div class="page3">
			<div class="background-image">
				<div class="mainpagebg">
					<div class="mainpage-inputheading">
						<h1>Full Page Background</h1>
					</div>
					<div class="mainpage-inputbox">
						<input type="file" name="backgroundimg" accept="image/*" required="" id="backgroundimg" class="backgroundimg" >
					</div>
				</div>
				<div class="footerpagebg">
					<div class="footer-inputheading">
						<h1>Footer Page Background</h1>
					</div>
					<div class="footer-inputbox">
						<input type="file" name="footerbg" accept="image/*" required="" id="footerbg" class="footerbg">
					</div>
				</div>
			</div>
		</div>
		<div class="page4" id="page4">
			<div class="page4-left">
				<div class="content">
					<div class="heading">
						<h1>********</h1>
						<h1>********</h1>
					</div>
					<div class="watch-logo">
						<h2>Watch now on</h2>
						<div class="watch-logo-image">
							<img src="{% static 'colors-logo.svg' %}" alt="My image">
							<img src="{% static 'voot-logo.png' %}" alt="My image">
						</div>
					</div>
				</div>
			</div>
			<div class="page4-right">
				<div class="footer-container">
					<div class="footer-mainimage">
						<i class="fa-solid fa-layer-group"></i>
						<label for="footerimg" class="footer-image-custom">
							<i class="fa-solid fa-upload"></i>   Upload Image
						</label>
						<input type="file" name="footerimg" accept="image/*" required="" id="footerimg" class="footerimg">
					</div>
					<div class="social-media-page4">
						<h2>Social Media Links</h2>
						<div class="socil-media-icons">
							<div class="instagram">
								<i class="fa-brands fa-instagram"></i><input class="instagramlink" type="text" id="instagramlink" name="instagramlink" placeholder="Instagram Link" required>
							</div>
							<div class="facebook">
								<i class="fa-brands fa-facebook"></i><input class="facebooklink" type="text" id="facebooklink" name="facebooklink" placeholder="Facebook Link" required>
							</div>
							<div class="youtube">
								<i class="fa-brands fa-youtube"></i><input class="youtubelink" type="text" id="youtubelink" name="youtubelink" placeholder="YouTube Link" required>
							</div>
							<div class="twitter">
								<i class="fa-brands fa-twitter"></i><input class="twitterlink" type="text" id="twitterlink" name="twitterlink" placeholder="Twitter Link" required>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="submit-btn">
			<i class="fa-solid fa-layer-group"></i>
			<div class="full-submitbtn">
				<i class="fa-solid fa-upload"></i>
				<input type="submit" value="Upload" class="form-submit">
			</div>
			<i class="fa-solid fa-database"></i>
		</div>
	</form>

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="https://kit.fontawesome.com/e2c728a258.js" crossorigin="anonymous"></script>
</body>
</html>