*{
   
}
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    background-image: url(page1bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: transparent;
    z-index: 99;
    top: 0;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: flex;
    display: inline-block;
    font-size: 20px;
    /* margin-top: auto;
    margin-bottom: auto; */

    color: #fff;
    padding: 20px 10px 10px 6vw;
  }
  .nav-title input{
    width: 300px;
    height: 3vh;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-weight: 700;
  }
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 25px;
    font-weight: 500;
    padding-right: 7vw;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color:white;
  
  }
  
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #33333379;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  .page1{
    display: flex;
    background-size: cover;
    height: 80vh;
    background-attachment: fixed;
  }
  .page1-left-heading{
    line-height: 4vh;
  }
  .highlight{
    animation-name: color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-weight: 800;
  }
  
  @keyframes color-change {
    0% { color:  green; } 
    14.28% { color: yellow } 
    28.56% { color: blue; } 
    42.84% { color: lime; } 
    57.12% { color: cyan; } 
    71.4% { color: #e52e71; } 
    85.68% { color: #fb00ff; } 
    100% { color: #ff8a00;}
  }
  .page1 .name{
    font-size: 1.3vw;
    padding-left: 1.5vw;
    border-radius: 15px;
    width: 25vw;
    height: 5vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border: none;
  }

  
  .page1 h2{
    font-size: 2.4vw;
    color: white;
    
  }
  .page1 .discription {
    font-size: 1.2vw;
    line-height: 1.3vw;
    padding-left: 1.5vw;
    width: 25vw;
    border-radius: 15px;
    resize: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }


.page1-right  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 40%;
    margin-right: 5vh;
  }
.big-boss-logo-img .fa-layer-group{
    color: grey;
    font-size: 7rem;
    padding-bottom: 5vh;
    opacity: 0.5;
    
}
.big-boss-logo-img{
    display: flex;
    flex-direction: column;
    width: 23vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 40vh;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.logoimg {
    display: none;
}
.custom-logoimg-btn{
    background-color: #127DFF;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 40px;
    border: none;
    width: auto;
    height: auto;
    display: inline-block;
}


  .page1-left{
    text-align: start;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;
  }
  
  .page1-left h1{
    font-weight: 1000;
    font-size: 3vw;
    line-height: 0vw;
    color: #fff;
  }
  
  .page1-left p {
    font-size: 1vw;
    line-height: 1.7vw;
    width: 30vw;
    color: #fff;
  }
  
  .page2{
    height: auto;
  }

  
  main {
      margin: 0 auto;
  }
  .vote-heading{
    display: flex;
    flex-direction: column;
  }
  
  .vote-heading h3 {
    padding-top: 0vh;
    width: 50vh;
    font-size: 5vh;
    margin-left: 26.9vh;
    padding-bottom: 10px;
    color: rgba(61, 61, 61, 0.759);
    background-color: #fff;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding-left: 20px;
  }
  .votetitle-input{
    padding-left: 13vw;
    padding-bottom: 50px;
  }
  .votetitle-input  .votetitle{
    width: 72.5vw;
    height: 8vh;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 0px 10px 10px 10px;
    padding-left: 20px;
    font-size: 1.5rem;
  }
  
  .card-container {
    width: 100%;
  }
  .card-container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .card-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 5vh;
    background-color: #fff;
    position: relative;
    border-radius: 15px;
    word-wrap: break-word;

  }
  .card-image{
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .card-image input{
    margin-top: 6vh;
    font-size: 1.2rem;
    border-style: dashed;
    border-color: rgba(164, 164, 164, 0.703);
    border-width: 2px;
    border-radius: 10px;
  }
  ::-webkit-file-upload-button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: #7A35AA;
    color: white;
    border: none;
    font-size: 1.5rem;
  }
  .card-image ion-icon{
    padding-top: 50px;
    font-size: 150px;
    opacity: 0.5;
    color: grey;
  }

  .card-content .fa-solid{
    opacity: 0.7;
    padding-right: 10px;
  }
  .card-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    border-radius: 15px;
    width: 400px;
    height: 160px;
    margin-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    font-size: 1.5rem;

  }
  .card-content input{
    width: 300px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    border: none;
    padding-left:10px;
  } 
  
  .page3{
    height: auto;
  }
  .background-image {
    display: flex;
    flex-direction: column;
  }
  .background-image .mainpagebg{
    margin-top: 80px;
    width: 72.5vw;
    background-color: white;
    border-radius: 3px 20px 3px 20px ;
    margin-left: 13vw;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .background-image .footerpagebg {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 72.5vw;
    background-color: white;
    border-radius: 3px 20px 3px 20px ;
    margin-left: 13vw;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer-inputheading ,.mainpage-inputheading{
    text-align: center;
    margin-bottom: 0;
    color: rgb(59, 59, 59);
    background-color: rgba(151, 151, 151, 0.702);
    width: 38vw;
    height:7vh;
    border-radius: 0px 50px 0px 0px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: rgba(151, 151, 151, 0.702) ;
  }
  .footerpagebg h1 , .mainpage-inputheading h1{
    padding-top: 5px;
  }
  .footer-inputbox, .mainpage-inputbox{
    margin-bottom: 20px;
    padding-right: 0vw;
    margin-top:0px ;
    margin-left: 34vw;
    height:7vh;
    width: 38.5vw;
    border-radius: 0px 0px 0px 50px ;
    background-color:  rgba(151, 151, 151, 0.702);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: rgba(151, 151, 151, 0.702) ;
  }
  .footerpagebg input ,.mainpage-inputbox input{
    padding-top: 12px;
    font-size: 1.5rem;
    width: 25vw;
    padding-left: 7vw;

  }
  
  
  .page4{
    display: flex;
    width: 100%;
    height: 80vh;
    background-image: url(page2bg.jpg); 
    background-size: cover;  
  }
  .page4-left{
    margin-left: 15vh;
    margin-top: 18vh;
    margin-bottom: auto;
    color: white;
  }
  
  .page4-left .content{
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 255, 0.69);
    width: 50vh;
    height: 30vh;
    border-radius: 25px;
  }
  
  .page4-left .heading {
    padding: 5vh;
  }
  .content h1{
    font-size: 5vh;
    line-height: 2vh;
  }
  
  .watch-logo h2{
    font-size: 3vh;
    margin-top: 0 ;
  }
  
  .watch-logo{
    padding: 5vh;
    padding-top: 2.5vh;
    height: 20vh;
    border-radius: 25px;
    margin-top:  -3vh;
    background: linear-gradient(to top right, #1552cdaf, #d50de3b7);
  }
  .watch-logo-image{
    padding-top: 2vh;
  }
  
  .watch-logo img{
    background-color: white;
    margin-right: 2vh;
    width: 6vh;
    height: 6vh;
    border-radius: 10%;
  }
  
  .page4-right{
    margin-left: auto;
    margin-top: 6vh ;
  }
  
  .footer-container img{
    width: 75vh;
    height: 37vh;
   
  }

  .footer-mainimage{
    display: flex;
    flex-direction: column;
    width: 28vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 30vh;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }
  .footer-mainimage .fa-layer-group{
    color: grey;
    font-size: 6rem;
    padding-bottom: 5vh;
    opacity: 0.5;
  }
  .footerimg{
    display: none;
  }
  .footer-image-custom{
    background-color: #127DFF;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 40px;
    border: none;
    width: auto;
    height: auto;
    display: inline-block;
  }
  .social-media-page4{
    margin-top: -2vh;
    margin-right: 7vh;
    margin-left: auto;
    height: 40vh;
    width: 28vw;
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 0px 0px 25px 25px;
    align-items: center;
    justify-content: center;
  }
  .social-media-page4 h2 {
    color: white;
    padding-top: 5vh;
    padding-right:  5vh;
    padding-left: 5vh;
    font-size: 4vh;
    margin-top: 0 ;
  }
  .instagram,
  .facebook,
  .youtube,
  .twitter{
    display: flex;
    padding-bottom: 3vh;
  }
  .socil-media-icons{
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 50;
    font-size: 3vh;
    padding-left: 5vh;
  }
  .socil-media-icons input{
    width: 20vw;
    border-radius: 10px;
    height: 3vh;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .socil-media-icons .fa-instagram{
    padding-right: 3vh;
    background-image: linear-gradient(135deg, #6c33f0 0%, #e130a9 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    
  }
  .socil-media-icons .fa-facebook{
    color: #0165E1;
    padding-right: 3vh;
    
  }
  .socil-media-icons .fa-youtube{
    color:red;
    padding-right: 2.7vh;
    
  }
  .socil-media-icons .fa-twitter{
    color: #17A9FD;
    padding-right: 3vh;
    
  }
  
  .submit-btn{
    display: flex;
    height: 200px;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .full-submitbtn{
    display: flex;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #127DFF;
    width: 420px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .full-submitbtn .fa-upload{
    font-size: 2rem;
    color: white;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 1vh;
  }
  .submit-btn input{
    width: 350px;
    height: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    background-color: #127DFF;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
  }
  .submit-btn .fa-layer-group , .submit-btn .fa-database{
    font-size: 5rem;
    color: grey;
    opacity: 0.5;
  }
  